# Use same MongoDB as app_backend (refer app_backend .env)
MONGODB_URI=mongodb+srv://boominathanaskeva_db_user:aaEaG4gSxM5EV6rM@cluster0.p508zsu.mongodb.net/hrms-development

PORT=2005
NODE_ENV=production

JWT_SECRET=AEvaHRMS@123
JWT_EXPIRES_IN=24h
JWT_REFRESH_EXPIRES_IN=7d

REDIS_URL=redis://localhost:6379
REDIS_QUEUE_NAME=monitoring_processing_queue

CLOUDINARY_CLOUD_NAME=dgmqpu4sj
CLOUDINARY_API_KEY=882138826746595
CLOUDINARY_API_SECRET=V_yYPXesgYPD_hA9UagRifbQBEg

# RSA private key (PEM) for decrypting agent payloads
# Generate: openssl genrsa 2048 -out key.pem
RSA_PRIVATE_KEY=

API_BASE_URL=http://localhost:9002/api
