<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Version" value="1.0.1" />
    <!-- Monitoring backend (default port 9002) -->
    <!--<add key="ApiBaseUrl" value="http://localhost:9002/api" />-->
 <add key="ApiBaseUrl" value="https://track.ektahr.com/api" /> 
  </appSettings>
</configuration>
